<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Принтер: Подробная информация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/equipmentData.css">
</head>
<body>
<h1>ПОДРОБНАЯ ИНФОРМАЦИЯ</h1>

<div class="container">
    <form>
        <div class="grid-container">
            <label for="floor">Этаж:</label>
            <input type="text" id="floor" name="floor" th:value="${floor}">

            <label for="room">Комната:</label>
            <input type="text" id="room" name="room" th:value="${room}">

            <label for="printColor">Цветность печати:</label>
            <input type="text" id="printColor" name="printColor" th:value="${printer.printColor}">

            <label for="printMaxFormat">Максимальный формат печати:</label>
            <input type="text" id="printMaxFormat" name="printMaxFormat" th:value="${printer.printMaxFormat}">
        </div>
    </form>
</div>

<button class="submit-btn" type="submit">Сохранить</button>
</body>
</html>