<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Монитор: Подробная информация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/equipmentData.css">
</head>
<body>
<h1>ПОДРОБНАЯ ИНФОРМАЦИЯ</h1>

<div class="container">
    <form>
        <div class="grid-container">
            <label for="floor">Этаж:</label>
            <input type="text" id="floor" name="floor" value="" th:value="${floor}">

            <label for="room">Комната:</label>
            <input type="text" id="room" name="room" value="" th:value="${room}">

            <label for="screenSize">Диагональ экрана (дюйм):</label>
            <input type="text" id="screenSize" name="screenSize" value="" th:value="${monitor.diagonal}">

            <label for="resolution">Максимальное разрешение:</label>
            <input type="number" id="resolution" name="resolution" value="" th:value="${monitor.resolution}">
        </div>
    </form>
</div>

<button class="submit-btn" type="submit">Сохранить</button>
</body>
</html>